{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>{{ cust_detail.soldToName }}</h1>
  </div>
</div>

<div class="container">
  {% if cust_detail %}
    {# <p>Customer: {{ cust_detail.sold_to_name }}</p> #}
    <p>Sold-to:{{ cust_detail.soldToNumber }}</p>
    <p>Country: {{ cust_detail.shipToCountry }}</p>
    <p>City: {{ cust_detail.shipToCity }}</p>
    <p>Seller: {{ cust_detail.sellerName }}</p>
    <p>CSMC: {{ cust_detail.cmscName }}</p>
    <p>Product: {{ cust_detail.products }}</p>
  {% else %}
    <p>No customers details found.</p>
  {% endif%}
</div>

<div class="container">
  <p>
    <a class='btn btn-warning' href="{% url 'url_cust_update' pk=cust_detail.pk %}">Update</a>
  </p>
</div>

{% endblock %}
