{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>Customers of <strong>{{ request.user.first_name }}</strong></h1>
    <p>Number of customers: {{ customers.idcount }}</p>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Sold-To</th>
        <th scope="col">Ship-To</th>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col">Product</th>
      </tr>
    </thead>
    <tbody>
      {% for x in cust_list %}
        <tr>
          <!-- <th scope="row"></th> -->
          <td><a href="{{ x.get_absolute_url }}">{{ x.soldToName|title }}</a></td>
          <td>{{ x.shipToName|title }}</td>
          <td>{{ x.shipToCity|title }}</td>
          <td>{{ x.shipToCountry }}</td>
          <td>{{ x.products }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



<!-- {% if cust_list %}
  <div class="container">
    <div class="card card-with-shadow" style="width: 28rem;">
      <ul class="list-group list-group-flush">

        {% for x in cust_list %}
          <li class="list-group-item">
            <a href="{{ x.get_absolute_url }}">{{ x.soldToName|title }}</a>
            <p>{{ x.shipToName|title }}</p>
            <p>{{ x.shipToCity|title }}</p>
          </li>
        {% endfor %}

      <ul>

    </div>
  </div>
{% else %}
  <div class="container">
    <p>You don't have any customer assigned.</p>
  </div>

{% endif%} -->

{% endblock %}
