{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>Customers of <strong>{{ request.user.first_name }}</strong></h1>
    <p>Number of customers: {{ customers.idcount }}</p>
  </div>
</div>

{% if cust_list %}
  <div class="container">
    <div class="card card-with-shadow" style="width: 28rem;">
      <ul class="list-group list-group-flush">

        {% for x in cust_list %}
          <li class="list-group-item">
            <a href="{{ x.get_absolute_url }}">{{ x.soldToName|title }}</a>
          </li>
        {% endfor %}

      <ul>

    </div>
  </div>
{% else %}
  <div class="container">
    <p>You don't have any customer assigned.</p>
  </div>

{% endif%}

{% endblock %}
