<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Sales App!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Sales App!</h1>
        <p>Please enter your credentials to Login.</p>
      </div>
    </div>

    <div class="container">
      <form class="" action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder='Ex.: john.smith'>

        <label for="password">Password: </label>
        <input type="password" name="password">

        <input type="submit" name="" value="Login">

        <a href="{% url 'password_reset' %}">Forgot your password?</a>
      </form>
    </div>
  </body>
</html>
