/* INCLUDES/NAV.HTML */
body {
  font-size: 0.9em;
}

span.navbar-item a{
  font-size: 12px;
}

/* INDEX.HTML */
div.card{
  margin-bottom: 20px;
}

/* INCLUDES/FOOTER.HTML */
#footer p {
  font-size: 14px;
}
